/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */
table {
    border-collapse: collapse;
    width: 100%;
}

section {
    flex-grow: 1;
}

td,
th {
    border: 1px solid #606c38;
    text-align: left;
    padding: 8px;
}

#saving-overlay {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: #fefae0;
    background-color: rgba(0, 0, 0, 0.8);
}

/* https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25 */

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #283618;
    height: 100vh;
    padding: 1em;
}

main {
    display: flex;
    height: 100%;
}

section {
    border: 1em solid #fefae0;
    border-radius: 1em;
    background-color: #fefae0;
    height: 100%;
    overflow: auto;
}

section:not(:last-of-type) {
    margin-right: 1em;
}

input[type="text"],
input[type="number"] {
    padding: 0.5em;
    width: 100%;
}

input[type="checkbox"] {
    accent-color: #606c38;
}

#expense-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#expense-list li {
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
}

#expense-list li:last-of-type {
    margin-top: auto;
    border: 1px solid #BC6C25;
    color: #BC6C25;
}

#expense-list li span:first-child {
    font-weight: bold;
    flex-grow: 1;
}

#expense-list li span.expense-paid {
    color: #606C38;
}

#expense-list li span.expense-unpaid {
    color: #BC6C25;
}

#expense-list li:hover {
    cursor: pointer;
}

#expense-list li.expense-selected {
    background-color: #606c38;
    color: white;
}

#expense-list li.expense-selected span {
    color: white;
}

@media only screen and (max-width: 1200px) {
    main {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        gap: 1em;
    }

    input[type="text"],
    input[type="number"] {
        padding: 0.5em;
        width: 10em;
    }

    section:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 1em;
    }
}